<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Задание-1" data-toc-modified-id="Задание-1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Задание 1</a></span><ul class="toc-item"><li><span><a href="#Создание-клиента-и-базы-данных-mongodb" data-toc-modified-id="Создание-клиента-и-базы-данных-mongodb-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Создание клиента и базы данных mongodb</a></span></li><li><span><a href="#Внесение-в-БД-вакансий,-добытых-с-сайта-неделю-назад" data-toc-modified-id="Внесение-в-БД-вакансий,-добытых-с-сайта-неделю-назад-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Внесение в БД вакансий, добытых с сайта неделю назад</a></span></li><li><span><a href="#Парсинг-новых-вакансий-с-сайта" data-toc-modified-id="Парсинг-новых-вакансий-с-сайта-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Парсинг новых вакансий с сайта</a></span></li><li><span><a href="#Запись-только-новых-вакансий-в-БД" data-toc-modified-id="Запись-только-новых-вакансий-в-БД-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Запись только новых вакансий в БД</a></span></li></ul></li><li><span><a href="#Задание-2" data-toc-modified-id="Задание-2-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Задание 2</a></span></li></ul></div>

In [2]:
import requests
from bs4 import BeautifulSoup as bs
import re
from pprint import pprint
import pandas as pd

In [3]:
from pymongo import MongoClient

### Задание 1
Развернуть у себя на компьютере/виртуальной машине/хостинге MongoDB и реализовать функцию, которая будет добавлять только новые вакансии/продукты в вашу базу.

####  Создание клиента и базы данных mongodb

In [4]:
client = MongoClient()

In [5]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [6]:
db_vac = client.db_vacancies

#### Внесение в БД вакансий, добытых с сайта неделю назад

In [29]:
df_vac_old = pd.read_csv('vacancies.csv').drop(columns=['Unnamed: 0'])

In [30]:
df_vac_old.head(3)

,vacancy_name,vacancy_link,min_salary,max_salary,currency
0,Data Scientist,https://kazan.hh.ru/vacancy/76925483?from=vaca...,160000,200000,руб.
1,Data scientist,https://kazan.hh.ru/vacancy/74376536?from=vaca...,200000,240000,руб.
2,Data Scientist (Middle+),https://kazan.hh.ru/vacancy/76810036?from=vaca...,170000,240000,руб.

In [31]:
dict_of_vacancies_old = df_vac_old.to_dict('records')

Проверим, что каждая строка датафрейма переведена в словарь

In [34]:
dict_of_vacancies_old[0]

{'vacancy_name': 'Data Scientist',
 'vacancy_link': 'https://kazan.hh.ru/vacancy/76925483?from=vacancy_search_list&query=data+scientist',
 'min_salary': 160000,
 'max_salary': 200000,
 'currency': 'руб.'}

Запишем данные в mongodb

In [35]:
for dict_v in dict_of_vacancies_old:
    db_vac.vacancies.insert_one(dict_v)

Проверим, что данные записались корректно

In [37]:
pprint(db_vac.vacancies.find()[0])

{'_id': ObjectId('63fbbf560d6af771395f2520'),
 'currency': 'руб.',
 'max_salary': 200000,
 'min_salary': 160000,
 'vacancy_link': 'https://kazan.hh.ru/vacancy/76925483?from=vacancy_search_list&query=data+scientist',
 'vacancy_name': 'Data Scientist'}

In [39]:
len(list(db_vac.vacancies.find()))

166

In [40]:
df_vac_old.shape[0]

166

#### Парсинг новых вакансий с сайта

In [41]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36'
}

url = 'https://kazan.hh.ru/search/vacancy?text=data+scientist&area='

Находим число страниц в пагинации, то есть общее число страниц с результатами поиска

In [42]:
response = requests.get(url, headers=headers)
soup = bs(response.text, 'html.parser')
max_page = int(soup.find_all('a', attrs={'class': ['bloko-button']})[-2].text)

In [43]:
vacancies_list = []

Код парсера. Проходимся по всем страницам, считываем параметры вакансий и сохраняем все вакансии в виде списка словарей. Если зарплата представлена в виде 100 - 200 руб., то заполняется минимальная и максимальная зарплата. Если "от 100 руб", то заполняется минимальная зарплата. Если "до 100 руб", то заполняется максимальная зарплата.

In [44]:
for page_num in range(max_page):
    response = requests.get(f'https://kazan.hh.ru/search/vacancy?text=data+scientist&area=&page={page_num}', 
                            headers=headers)
    soup = bs(response.text, 'html.parser')
    
    vacancies = soup.find_all('div', attrs={'class': ['vacancy-serp-item__layout']})
    
    for v in vacancies:
        salary_min = 0
        salary_max = 0
        currency = ''
        vacancy_name = v.find('a', attrs={'class': ['serp-item__title']})
        v_name = vacancy_name.text
        v_link = vacancy_name['href']

        try:
            salary = v.find('span', attrs={'data-qa': ['vacancy-serp__vacancy-compensation']})
            s = re.match('[\d – ]+', salary.text)
            if s:
                min_max = s.group().strip().replace(' ', '').replace(' ', '')
                salary_min = int(min_max.split('–')[0])
                salary_max = int(min_max.split('–')[1])
            else:
                g = re.findall('[\d  ]+', salary.text)
                if g:
                    if 'до' in salary.text:
                        salary_max = int(g[0].replace(' ', '').replace(' ', ''))
                    elif 'от' in salary.text:
                        salary_min = int(g[0].replace(' ', '').replace(' ', ''))


            curr = re.findall('[А-яA-z]+\.*$', salary.text)
            if curr:
                currency = curr[0]
        except AttributeError:
            pass

        vacancies_list.append({
            'vacancy_name': v_name,
            'vacancy_link': v_link,
            'min_salary': salary_min,
            'max_salary': salary_max,
            'currency': currency
        })

In [45]:
df = pd.DataFrame(vacancies_list)

In [46]:
df

,vacancy_name,vacancy_link,min_salary,max_salary,currency
0,Специалист по углубленной аналитике данных (Da...,https://kazan.hh.ru/vacancy/72920605?from=vaca...,0,0,
1,Data scientist,https://kazan.hh.ru/vacancy/74376536?from=vaca...,200000,240000,руб.
2,Data Scientist,https://kazan.hh.ru/vacancy/76925483?from=vaca...,160000,200000,руб.
3,Data Scientist (удаленно),https://kazan.hh.ru/vacancy/76655873?from=vaca...,0,0,
4,Data scientist,https://kazan.hh.ru/vacancy/74257661?from=vaca...,150000,300000,руб.
...,...,...,...,...,...
142,Senior Data Scientist (WAF),https://kazan.hh.ru/vacancy/74252169?from=vaca...,0,0,
143,Team Lead Fraud Analyst,https://kazan.hh.ru/vacancy/77284065?from=vaca...,0,0,
144,Team Lead Fraud Analyst,https://kazan.hh.ru/vacancy/73527795?from=vaca...,0,0,
145,Team Lead Fraud Analyst,https://kazan.hh.ru/vacancy/75641735?from=vaca...,0,0,
146,Team Lead Fraud Analyst,https://kazan.hh.ru/vacancy/75641763?from=vaca...,0,0,

In [47]:
# df.to_csv('vacancies.csv')

#### Запись только новых вакансий в БД

In [54]:
dict_of_vacancies_new = df.to_dict('records')

Посчитаем дубли (вакансии, которые уже есть в БД)

In [69]:
i = 0
for vac in dict_of_vacancies_new:
    if len(list(db_vac.vacancies.find({'vacancy_link': vac['vacancy_link']}))) > 0:
        i += 1
print(i)

53

Запишем в БД только новые вакансии

In [70]:
for vac in dict_of_vacancies_new:
    db_vac.vacancies.find_one_and_update(
        {'vacancy_link': vac['vacancy_link']},
        {'$set': vac}, upsert=True
    )

In [71]:
len(list(db_vac.vacancies.find()))

260

Проверка: 166 (старые вакансии) + 147 (новые вакансии) - 53 (дубли) = 260

### Задание 2
Написать функцию, которая производит поиск и выводит на экран вакансии с заработной платой больше введённой суммы (необходимо анализировать оба поля зарплаты)

In [72]:
def find_salary(salary):
    vacs = db_vac.vacancies.find({
            '$or': [
                {
                    'min_salary': {
                        '$gt': salary
                    }
                },
                {
                    'max_salary': {
                        '$gt': salary
                    }
                }
            ]
        }
        )
    for v in vacs:
        pprint(v)

Выведем вакансии с зп больше 200 тыс. руб.

In [77]:
find_salary(300000)

{'_id': ObjectId('63fbbf560d6af771395f2524'),
 'currency': 'руб.',
 'max_salary': 350000,
 'min_salary': 250000,
 'vacancy_link': 'https://kazan.hh.ru/vacancy/77208642?from=vacancy_search_list&query=data+scientist',
 'vacancy_name': 'Data Scientist middle+/Senior'}
{'_id': ObjectId('63fbbf560d6af771395f252d'),
 'currency': 'руб.',
 'max_salary': 350000,
 'min_salary': 0,
 'vacancy_link': 'https://kazan.hh.ru/vacancy/73387970?from=vacancy_search_list&query=data+scientist',
 'vacancy_name': 'Senior Data Scientist'}
{'_id': ObjectId('63fbbf560d6af771395f255e'),
 'currency': 'руб.',
 'max_salary': 400000,
 'min_salary': 250000,
 'vacancy_link': 'https://kazan.hh.ru/vacancy/73139848?from=vacancy_search_list&query=data+scientist',
 'vacancy_name': 'Data scientist/Analyst (Middle+/Senior) - Руководитель '
                 'отдела аналитики'}
{'_id': ObjectId('63fbbf560d6af771395f25b8'),
 'currency': 'руб.',
 'max_salary': 350000,
 'min_salary': 250000,
 'vacancy_link': 'https://kazan.hh.ru/vacancy/76796572?from=vacancy_search_list&query=data+scientist',
 'vacancy_name': 'Senior/Middle Java Developer'}
{'_id': ObjectId('63fbc6abff7d37b2ec5be975'),
 'currency': 'руб.',
 'max_salary': 400000,
 'min_salary': 0,
 'vacancy_link': 'https://kazan.hh.ru/vacancy/70163749?from=vacancy_search_list&query=data+scientist',
 'vacancy_name': 'Data Scientist (middle/senior)'}
{'_id': ObjectId('63fbc6acff7d37b2ec5be9cb'),
 'currency': 'руб.',
 'max_salary': 350000,
 'min_salary': 300000,
 'vacancy_link': 'https://kazan.hh.ru/vacancy/76815796?from=vacancy_search_list&query=data+scientist',
 'vacancy_name': 'Lead data scientist'}
{'_id': ObjectId('63fbc6acff7d37b2ec5bea3f'),
 'currency': 'руб.',
 'max_salary': 0,
 'min_salary': 400000,
 'vacancy_link': 'https://kazan.hh.ru/vacancy/76693747?from=vacancy_search_list&query=data+scientist',
 'vacancy_name': 'Руководитель направления по данным'}